.feed{
    /* flex:5.5; */
    /* background:white; */
    width:800px;
    margin:0 auto;
    max-width: 900px;
}

.feedWrapper{
    padding: 10px 20px;
}
.show-wallet-no{
    font-size: 13px;
    font-weight: 400;
}
.no-post-to-show{
    background:url(http://neckcode.com/feed-show-ico.svg) no-repeat white;
    display: block;
text-align: center;
padding: 30px;
margin: 10px 0;
border-radius: 6px;
font-size:13px;
}
