**/node_modules
.DS_Store
.git/
.gitignore
.nvmrc
.vscode
_local/
dist/

deployspace/*
!deployspace/README.md

truffle/build/contracts

key.json
arweave.json
*.txt
*.gz
*.zip
geth

# todo: remove a temporary fix below
package-lock.json
