node_modules/
_local/
.idea/
.DS_Store
resources/demo/config.test4.json
resources/liveprofile
internal/explorer.point/public/
.next/
debug
sessions/
dist/
bin/
.cache/
.parcel-cache/
dist
.vscode

key.json
arweave.json
*.txt
*.gz
*.zip
geth
.env.e2e
.env.local
.env.zappdev

config/*local*

hardhat/resources
hardhat/build
hardhat/contracts
hardhat/cache
hardhat/tests
hardhat/resources
hardhat/typechain
resources/liveprofile/
.openzeppelin
typechain-types

junit.xml

/example