node_modules/
_local/
.idea/
.DS_Store
resources/demo/config.test4.json
.next/
debug
sessions/
dist/
.cache/
.parcel-cache/

# Ignore everything in deployspace folder
deployspace/*

key.json
arweave.json
*.txt
*.gz
*.zip
geth
.env.e2e
.env.local
.env.zappdev

config/*local*
