version: '3.9'

services:
  point_node:
    image: ${POINT_DEV_IMAGE_NAME:-pointnetwork/pointnetwork_node:$POINT_NODE_VERSION}
    extends:
      file: docker-compose.yaml
      service: point_node
    command: 'run start:docker:dev'
    volumes:
      - point_contracts_dev:/app/src/truffle/build/contracts:rw
      - point_node_data_dev:/data
      - ./config:/app/config:ro
      - ./example:/app/example:ro
      - ./scripts:/app/scripts:ro
      - ./package.json:/app/package.json:ro
      - ./src:/app/src:ro
    environment:
      NODE_CONFIG_ENV: dockerdev

volumes:
  point_contracts_dev:
  point_node_data_dev:
