version: '3.9'

services:
  blockchain_node:
    image: trufflesuite/ganache-cli:v6.12.2
    container_name: pointnetwork_blockchain_node
    ports:
      - '$BLOCKCHAIN_PROVIDER_PORT:$BLOCKCHAIN_PROVIDER_PORT'
    volumes:
      - blockchain_data:/data:rw
    environment:
      - DOCKER=true
    command:
      - -v
      - -p
      - $BLOCKCHAIN_PROVIDER_PORT
      - -m
      - $BLOCKCHAIN_PROVIDER_MNEMONIC
      - -e
      - $DEFAULT_BALANCE
      - -i
      - $BLOCKCHAIN_NETWORK_ID
      - --keepAliveTimeout
      - '20000'
      - --db
      - '/data'

  contract_deployer:
    image: pointnetwork/pointnetwork_deployer:dev
    container_name: pointnetwork_contract_deployer
    depends_on:
      - blockchain_node
    deploy:
      restart_policy:
        condition: none
    volumes:
      - ./truffle/migrations:/truffle/migrations:ro
      - ./truffle/contracts:/truffle/contracts:ro
      - shared_contracts:/build:rw
    entrypoint: /truffle/run.js
    environment:
      - BLOCKCHAIN_HOST=blockchain_node
      - BLOCKCHAIN_PORT=$BLOCKCHAIN_PROVIDER_PORT
      - BLOCKCHAIN_NETWORK_ID=$BLOCKCHAIN_NETWORK_ID
      - COMPILER_VERSION=native
      - BUILD_PATH=/build

  storage_provider:
    image: pointnetwork/pointnetwork_node:$POINTNETWORK_NODE_VERSION
    container_name: pointnetwork_storage_provider
    depends_on:
      - blockchain_node
    entrypoint: 'npm'
    command: 'run start:docker'
    volumes:
      - storage_provider_data:/data:rw
      - shared_contracts:/app/truffle/build/contracts:ro
      - ./resources/demo-docker/config.test1.json:/nodeConfig.json:ro
    ports:
      - '12345:9685'
      - '65500:8666'
      - '24680:2468'
    environment:
      - DATADIR=/data
      - BLOCKCHAIN_HOST=blockchain_node
      - BLOCKCHAIN_PORT=$BLOCKCHAIN_PROVIDER_PORT
      - BLOCKCHAIN_NETWORK_ID=$BLOCKCHAIN_NETWORK_ID
      - DATABASE_URL=postgres://$DB_USERNAME:$DB_PASSWORD@database:5432/$DB_STORAGE_PROVIDER

  website_owner:
    image: pointnetwork/pointnetwork_node:$POINTNETWORK_NODE_VERSION
    container_name: pointnetwork_website_owner
    depends_on:
      - blockchain_node
      - database
    ports:
      - '12346:9685'
      - '65501:8666'
      - '24681:2468'
    entrypoint: 'npm'
    command: 'run start:docker'
    volumes:
      - website_owner_data:/data:rw
      - shared_contracts:/app/truffle/build/contracts:ro
      - ./resources/demo-docker/config.test2.json:/nodeConfig.json:ro
      - ./example:/app/example:ro
    environment:
      - DATADIR=/data
      - BLOCKCHAIN_HOST=blockchain_node
      - BLOCKCHAIN_PORT=$BLOCKCHAIN_PROVIDER_PORT
      - BLOCKCHAIN_NETWORK_ID=$BLOCKCHAIN_NETWORK_ID
      - DATABASE_URL=postgres://$DB_USERNAME:$DB_PASSWORD@database:5432/$DB_WEBSITE_OWNER

  website_visitor:
    image: pointnetwork/pointnetwork_node:$POINTNETWORK_NODE_VERSION
    container_name: pointnetwork_website_visitor
    depends_on:
      - blockchain_node
    ports:
      - '12347:9685'
      - '65502:8666'
      - '24682:2468'
    entrypoint: 'npm'
    command: 'run start:docker'
    volumes:
      - website_visitor_data:/data:rw
      - shared_contracts:/app/truffle/build/contracts:ro
      - ./resources/demo-docker/config.test3.json:/nodeConfig.json:ro
    environment:
      - DATADIR=/data
      - BLOCKCHAIN_HOST=blockchain_node
      - BLOCKCHAIN_PORT=$BLOCKCHAIN_PROVIDER_PORT
      - BLOCKCHAIN_NETWORK_ID=$BLOCKCHAIN_NETWORK_ID
      - DATABASE_URL=postgres://$DB_USERNAME:$DB_PASSWORD@database:5432/$DB_WEBSITE_VISITOR

  database:
    image: postgres:13.3
    container_name: pointnetwork_database
    environment:
      - POSTGRES_USER=$DB_USERNAME
      - POSTGRES_PASSWORD=$DB_PASSWORD
      - POSTGRES_DB=$DB_USERNAME
      - DATABASE=$DB_STORAGE_PROVIDER $DB_WEBSITE_OWNER $DB_WEBSITE_VISITOR $DB_TEST
    volumes:
      - database_data:/var/lib/postgresql/data/
      - ./scripts/postgres-init.sh:/docker-entrypoint-initdb.d/init.sh

volumes:
  blockchain_data:
  shared_contracts:
  storage_provider_data:
  website_owner_data:
  website_visitor_data:
  database_data:
