version: '3.9'

services:
  blockchain_provider:
    image: neonlabsorg/proxy:v0.2.0-rc5
    container_name: pointnetwork_blockchain_provider
    healthcheck:
      test: |
        curl -X POST \
          -H 'Content-Type: application/json' \
          -d '{"jsonrpc":"2.0","method":"eth_blockNumber","params":[],"id":0}' \
          http://localhost:9090/solana
      interval: 60s
      timeout: 5s
      retries: 4
      start_period: 30s
    environment:
      - CONFIG=devnet
    ports:
      - 127.0.0.1:9090:9090
    volumes:
      - $BLOCKCHAIN_KEYSTORE:/root/.config/solana
      - ./scripts/handle-neon-proxy.sh:/opt/proxy/handle-run-proxy.sh:ro
    entrypoint: /opt/proxy/handle-run-proxy.sh

  contract_deployer:
    image: pointnetwork/pointnetwork_deployer:$DEPLOYER_IMAGE_VERSION
    container_name: pointnetwork_contract_deployer
    depends_on:
      blockchain_provider:
        condition: service_healthy
    restart: 'no'
    volumes:
      - ./truffle/truffle-config-neon.js:/truffle/truffle-config.js:ro
      - ./truffle/migrations:/truffle/migrations:ro
      - ./truffle/contracts:/truffle/contracts:ro
      - $DEPLOYER_KEYSTORE:/.keystore:ro
      - shared_contracts:/build:rw
    command: deploy --network $DEPLOYER_ENV
    env_file:
      - .env.deployer.devnet

volumes:
  shared_contracts:
