html, body {
    margin: 0;
    padding: 0;
    min-height: calc(100% - 60px);
    height: calc(100% - 60px);
    background-color: rgba(187, 187, 187, 0.04);
    position: relative;
    font-family: "Helvetica Neue", Arial, sans-serif;
}
body {
    padding-bottom: 60px;
}
main {
    /*margin-bottom: 5em;*/
    padding-bottom: 100px !important;
}
header, footer, main {
    padding: 34px;

    padding-left: 20%;
    padding-right: 20%;
}
header {
    background: linear-gradient(to right, #8360c3, #2ebf91); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    position: relative;
}
header h1 a {
    color: white;
    text-decoration: none;
}
header h1 a:hover {
    text-decoration: underline;
}
header .admin-btn {
    width: 100px;
    height: 2em;
    text-align: center;
    display: inline-block;
    background: rgba(0,0,0, 0.1);
    color: whitesmoke;
    position: absolute;
    bottom: 0;
    right: 5px;
    padding-top: 0.7em;
}
header .admin-btn:hover {
    background: rgba(0,0,0, 0.3);
}
header .logo-star {
    width: 36px;
    height: 36px;
    float: left;
    margin-right: 7px;
}
footer {
    /*position: absolute;*/
    bottom: 0;
    height: 1em;
    /*width: 100%;*/
    color: white;
    background: linear-gradient(to top, #00416a, #e4e5e6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #48183b;
}
header img {
    width: 200px;
    margin-right: 50px;
    display: inline-block;
}
footer {
    text-align: center;
}

header, .cool-bg {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.9)), linear-gradient(120deg, transparent 75%, #a13582 75%) 0 0, linear-gradient(240deg, transparent 75%, #a13582 75%) 0 0, linear-gradient(120deg, transparent 75%, #772760 75%) 28.867513452295906px -50px, linear-gradient(240deg, transparent 75%, #772760 75%) 28.867513452295906px 50px, linear-gradient(#48183b 50%, #39132e 50%);
    background-repeat: no-repeat,repeat,repeat,repeat,repeat,repeat;
    background-size: cover, 57.73502690459181px 100px, 57.73502690459181px 100px, 57.73502690459181px 100px, 57.73502690459181px 100px;}

.comments .comment-body {
    margin-top: 1em;
}
.comments .comment {
    margin-top: 10px;
    padding: 10px;
    background-color: #ccc;
    border: 1px dashed #333;
}
.comments-form {
    width: 50%;
    margin-top: 2em;
    text-align: center;
}
.comments-form textarea {
    width: 100%;
}
.comments-form input[type=submit] {
    display: block;
    width: 100px;
    height: 2em;
}

.new-article-form table {
    width: 50%;
}
.new-article-form textarea {
    width: 100%;
}
.new-article-form input {
    width: 100%;
}
.new-article-form input[type=submit] {
    width: 200px;
}

body, .triangles-bg {
    background: linear-gradient(-45deg, #f9f8fc 25px, transparent 1%), #fcfcfd;
    background-size: 50px 50px;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
html, body {
    height: 100%;
}
hr {
    height: 1px;
    border: none;
    color: #e8e0ea;
    background-color: #e8e0ea;
    margin: 40px 0;
}
th {
    text-align: left;
}