.navbar {
    background: linear-gradient(to bottom, #1E2022 0%, rgb(0, 0, 0) 100%);
    min-height: 60px;
    padding: 10px 0;
}

.mono {
    font-family: "Lucida Console", Courier, monospace;
}

a {
    color: #438fa6;
}

a.nav-link {
    padding-left: 15px;
    padding-right: 15px;
}

a.nav-link.active {
    background-color: rgba(255, 255, 255, .2);
    border-radius: 4px;
}

.imgLogo {
    height: 2.25rem;
    margin-right: 0.8em;
}

.home-container {
    padding: 0 10px;
}

.home-header {
    color: rgb(0, 0, 0);
    font-family: "Source Sans Pro", sans-serif;
    font-size: 4rem;
    font-weight: 700;
    margin-top: 100px;
    text-align: center;
}

.home-header span {
    background-clip: text;
    background: linear-gradient(90deg, #9245ff 0, #228dff 50%, #5fecff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-subtitle {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.45rem;
    font-weight: 500;
    margin-top: 50px;
    text-align: center;
}

.zapps-separator {
    background-color: rgba(124, 124, 124, .6);
    max-width: 870px;
    margin: 20px auto 20px auto;
}

.zapps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto 100px auto;
}

.zapp {
    border-radius: 20px;
    box-shadow: 0px 7px 15px 0 rgba(0, 0, 0, .15);
    margin: 10px;
    padding: 16px;
    position: relative;
    text-decoration: none;
    top: 0;
    transition: .2s top ease-in-out;
    width: fit-content;
}

.zapp:hover {
    top: -5px;
}

.zapp-icon {
  width: 45%;
}

.zapp-icon-container {
    align-items: center;
    aspect-ratio: 1 / 1;
    background: linear-gradient(to bottom, rgba(0, 10, 23, .8) 0%, rgb(0, 10, 23) 100%);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    width: 130px;
}

.zapp-information-container {
    color: rgb(0, 0, 0);
    font-family: "Source Sans Pro", sans-serif;
    text-align: center;
}

.zapp-information-container h4 {
    font-size: 1.125rem;
    font-weight: 600;
    margin: 10px 0;
}

.zapp-information-container span {
    background-color: rgba(124, 124, 124, .05);
    border-radius: 4px;
    color: rgb(124, 124, 124);
    font-size: .84rem;
    font-weight: 400;
    padding: 5px 8px;
}

.announcement-banner {
    align-items: center;
    background: linear-gradient(90deg,#9245ff,#228dff 50%,#5fecff);
    bottom: 0;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1rem;
    justify-content: center;
    left: 0;
    padding: 10px;
    position: fixed;
    text-align: center;
    width: 100%;
}

.announcement-banner h5 {
    font-size: 1rem;
    font-weight: 500;
    margin: 0 10px 0 0;
}

.text-smallest {
    font-size: 8px;
}

.text-small {
    font-size: 12px;
}

.text-medium {
    font-size: 14px;
}

.bold {
    font-weight: bold;
}

.white {
    color: white;
}

.red {
    color: red;
}

.green {
    color: green;
}

.border-red {
    border-color: red;
}

.bounty-banner {
    position: fixed;
    background: linear-gradient(90deg, #fee563 0%, #fec455 50%, #86692e 100%);
    border-radius: 6px;
    cursor: pointer;
    padding: 3px;
    width: 80vw;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.bounty-banner:hover {
    background: linear-gradient(90deg, #fee563 0%, #fec455 80%, #86692e 100%);
}

.bounty-banner-inner {
    align-items: center;
    background: linear-gradient(90deg, #fffdf5 0%, #fffbf5 50%, #fcfbf7 100%);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.bounty-banner-header {
    align-items: center;
    display: flex;
}

.bounty-banner-header img {
    height: 50px;
}

.bounty-banner-header h2 {
    font-family: 'Karla', sans-serif;
    font-weight: 600;
    margin: 0 0 0 20px;
}

.bounty-banner-header h2 span {
    background-image: linear-gradient(90deg, #fee563 0%, #fec455 50%, #86692e 100%);;
    color: #333;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 767px) {
    .bounty-banner-inner {
        flex-direction: column;
        justify-content: center;
    }

    .bounty-banner-header {
        flex-direction: column;
        text-align: center;
    }

    .bounty-banner-header h2 {
        margin: 10px 0;
    }
}

.warning-banner {
    text-align: center;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    background: rgb(71,53,17);
    background: linear-gradient(90deg, rgba(71,53,17,1) 0%, rgba(223,180,0,1) 35%, rgba(237,208,12,1) 100%);
    color: rgb(255, 255, 255);
}

.vertical-center {
    vertical-align: middle;
}

.with-content-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
