.navbar {
    padding: 0;
}
.mono {
    font-family: "Lucida Console", Courier, monospace;
}
a {
    color: #438fa6;
}
a.nav-link.active {
    background: linear-gradient(to bottom, #aaa 0%, transparent 100%);
}

.imgLogo {
    height: 1.6em;
    margin-right: 0.8em;
}

.home-container {
    padding: 0 10px;
}

.home-header {
    color: rgb(0, 0, 0);
    font-family: "Source Sans Pro", sans-serif;
    font-size: 4rem;
    font-weight: 700;
    margin-top: 100px;
    text-align: center;
}

.home-header span {
    background-clip: text;
    background: linear-gradient(90deg, #9245ff 0, #228dff 50%, #5fecff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-subtitle {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.45rem;
    font-weight: 500;
    margin-top: 50px;
    text-align: center;
}

.zapps-separator {
    background-color: rgba(124, 124, 124, .6);
    max-width: 870px;
    margin: 20px auto 20px auto;
}

.zapps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto 100px auto;
}

.zapp {
    border-radius: 20px;
    box-shadow: 0px 7px 15px 0 rgba(0, 0, 0, .15);
    margin: 10px;
    padding: 16px;
    position: relative;
    text-decoration: none;
    top: 0;
    transition: .2s top ease-in-out;
    width: fit-content;
}

.zapp:hover {
    top: -5px;
}

.zapp-icon {
  width: 45%;
}

.zapp-icon-container {
    align-items: center;
    aspect-ratio: 1 / 1;
    background: linear-gradient(to bottom, rgba(0, 10, 23, .8) 0%, rgb(0, 10, 23) 100%);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    width: 130px;
}

.zapp-information-container {
    color: rgb(0, 0, 0);
    font-family: "Source Sans Pro", sans-serif;
    text-align: center;
}

.zapp-information-container h4 {
    font-size: 1.125rem;
    font-weight: 600;
    margin: 10px 0;
}

.zapp-information-container span {
    background-color: rgba(124, 124, 124, .05);
    border-radius: 4px;
    color: rgb(124, 124, 124);
    font-size: .84rem;
    font-weight: 400;
    padding: 5px 8px;
}

.announcement-banner {
    align-items: center;
    background: linear-gradient(90deg,#9245ff,#228dff 50%,#5fecff);
    bottom: 0;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1rem;
    justify-content: center;
    left: 0;
    padding: 10px;
    position: fixed;
    text-align: center;
    width: 100%;
}

.announcement-banner h5 {
    font-size: 1rem;
    font-weight: 500;
    margin: 0 10px 0 0;
}

.text-smallest {
    font-size: 8px;
}

.text-small {
    font-size: 12px;
}

.text-medium {
    font-size: 14px;
}

.bold {
    font-weight: bold;
}

.white {
    color: white;
}

.red {
    color: red;
}

.green {
    color: green;
}

.border-red {
    border-color: red;
}