.navbar {
    padding: 0;
}
.mono {
    font-family: "Lucida Console", Courier, monospace;
}
a {
    color: #438fa6;
}
a.nav-link.active {
    background: linear-gradient(to bottom, #aaa 0%, transparent 100%);
}

.imgLogo {
    height: 1.6em; 
    margin-right: 0.8em;
}

.zapps {
    display: grid;
    grid-template-columns: repeat(auto-fit, 92px);
    grid-gap: 10px;
    padding: 10px;
}

.zapp {
    min-height: 32px;
    aspect-ratio: 1/1;
    align-items: center;
    justify-content: center;    
    border:  1px solid #eee;
    background-color: #eee;    
    border-radius: 25%;
}

.zapp-icon {
  width: 60%;
  margin: auto;
  margin-top: 16px;
  display: block;
}

.zapp-icon-container {
    -webkit-mask-size: 100% 100%;
    height: 100%;
    margin: auto;
    vertical-align: middle;
}

.zapp-title-container {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

.text-smallest {
    font-size: 8px;
}

.text-small {
    font-size: 12px;
}

.text-medium {
    font-size: 14px;
}

.bold {
    font-weight: bold;
}

.white {
    color: white;
}

.red {
    color: red;
}

.green {
    color: green;
}

.border-red {
    border-color: red;
}

.bounty-banner {
    position: fixed;
    background: linear-gradient(90deg, #fee563 0%, #fec455 50%, #86692e 100%);
    border-radius: 6px;
    cursor: pointer;
    padding: 3px;
    width: 80vw;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.bounty-banner:hover {
    background: linear-gradient(90deg, #fee563 0%, #fec455 80%, #86692e 100%);
}

.bounty-banner-inner {
    align-items: center;
    background: linear-gradient(90deg, #fffdf5 0%, #fffbf5 50%, #fcfbf7 100%);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.bounty-banner-header {
    align-items: center;
    display: flex;
}

.bounty-banner-header img {
    height: 50px;
}

.bounty-banner-header h2 {
    font-family: 'Karla', sans-serif;
    font-weight: 600;
    margin: 0 0 0 20px;
}

.bounty-banner-header h2 span {
    background-image: linear-gradient(90deg, #fee563 0%, #fec455 50%, #86692e 100%);;
    color: #333;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 767px) {
    .bounty-banner-inner {
        flex-direction: column;
        justify-content: center;
    }

    .bounty-banner-header {
        flex-direction: column;
        text-align: center;
    }

    .bounty-banner-header h2 {
        margin: 10px 0;
    }
}

.warning-banner {
    text-align: center;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    background: rgb(71,53,17);
    background: linear-gradient(90deg, rgba(71,53,17,1) 0%, rgba(223,180,0,1) 35%, rgba(237,208,12,1) 100%);
    color: rgb(255, 255, 255);
}
