.navbar {
    padding: 0;
}
.mono {
    font-family: "Lucida Console", Courier, monospace;
}
a {
    color: #438fa6;
}
a.nav-link.active {
    background: linear-gradient(to bottom, #aaa 0%, transparent 100%);
}

.imgLogo {
    height: 1.6em; 
    margin-right: 0.8em;
}

.zapps {
    display: grid;
    grid-template-columns: repeat(auto-fit, 92px);
    grid-gap: 10px;
    padding: 10px;
}

.zapp {
    min-height: 32px;
    aspect-ratio: 1/1;
    align-items: center;
    justify-content: center;    
    border:  1px solid #eee;
    background-color: #eee;    
    border-radius: 25%;
}

.zapp-icon {
  width: 60%;
  margin: auto;
  margin-top: 16px;
  display: block;
}

.zapp-icon-container {
    -webkit-mask-size: 100% 100%;
    height: 100%;
    margin: auto;
    vertical-align: middle;
}

.zapp-title-container {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}