datadir: ~/.point
mode: ""
identity_contract_id: 8fa1117be7c111bbdd7552a1f90f9c4bf27ca732cce4a2e35dedcc596fb95f2a
api:
  address: 127.0.0.1
  port: 2468
  csrf_enabled: false
  sdk_auth_key: "POINTSDK_TOKEN"
db:
  define:
    underscored: true
    timestamps: true
    createdAt: created_at
    updatedAt: updated_at
  dialect: sqlite
  storage: pointdb.sqlite
  transactionType: DEFERRED
  retry:
    max: 30
  env: production
  enable_db_logging: true
log:
  enabled: true
  level: info
  sendLogs: true
  sendLogsTo: "http://logstash.pointspace.io:12201"
console:
  prompt: "> "
deployer:
  cache_path: deployer_cache
storage:
  chunk_size_bytes: 262144
  upload_cache_path: client_storage_upload_cache
  download_cache_path: client_storage_download_cache
  concurrent_upload_limit: 10
  concurrent_validation_limit: 10
  upload_loop_interval: 2000
  request_timeout: 30000
  upload_expire: 60000
  upload_retry_limit: 3
  files_path: files
  arweave_experiment_version_major: 1
  arweave_experiment_version_minor: 8
  arweave_bundler_url: https://test-arweave-bundler.herokuapp.com
  arweave_gateway_url: https://arweave.net/graphql
  concurrent_download_delay: 100
  redkey_encryption_bits: 1024 # TODO: not used
  arweave_host: arweave.net
  arweave_protocol: https
  arweave_port: 443
zproxy:
  port: 8666
  # 2 ports below are not used to receive requests and should not be exposed
  server_port: 8777
  server_http_port: 8778
  host: 127.0.0.1
  sanitize_html: false
  redirect_to_https: true
wallet:
  keystore_path: ~/.point/keystore
network:
  contracts_path: contracts
  web3:
    ynet:
      type: "eth"
      address: "http://ynet.point.space:44444"
    rinkeby:
      type: "eth"
      address: "https://rinkeby.infura.io/v3/400b1ad4183b442dbd9b0b5744b327aa" # TODO: project ID
    solana_devnet:
      type: "solana"
      address: "https://api.devnet.solana.com"
    # solana:
    #   type: "solana"
    #   address: "https://api.mainnet-beta.solana.com"
  web3_call_retry_limit: 4
  identity_contract_address: "0x1574E97F7a60c4eE518f6d7c0Fa701eff8Ab58b3"
  hardcode_default_provider: "0x3C903ADdcC954B318A5077D0f7bce44a7b9c95B1"
name_services:
  sol_tld_authority: "58PwtjSDuFHuUkYjH9BYnnQKHfwo9reZhC2zMJv9JPkx"
payments:
  token_address: "0xbf9be54Df2001E6Bd044cED0E508d936A9d38b1D"
rpc:
  send_transaction_timeout_secs: 120
