  .commentCorners {
    border-radius: 5px;
    border: 1px solid #B4C1CE;
    padding: 12px 8px;
    width: calc(100% - 100px);
  }

  .commentButton{
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: #1C385B;
    font-weight: 500;
    cursor: pointer;
    color: white;
    width:80px;
  }

  .comment {
    font-size: 14px;
  }

  .commentFrom {
    font-weight: 500;
  }

  .commentDate {
    margin: 0 5px;
  }

  .commentWrapper {
    /* padding: 10px; */
  }

  .commentHr {
    margin: 20px 0;
    background:#dce2ea;
    height: 1px;
    border:none;
  }

  .commentBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }