html, body {
  padding: 0;
  margin: 0;
  font-family: Avenir;
}

header {
  background-color: #ccccff;
  padding: 10px;
  font-family: Rockwell;
  margin-bottom: 60px;
  text-align: center;
}

h1 {
  text-align: center;
  padding-top: 12px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.formback {
  width: 382px;
  overflow: hidden;
  margin: auto;
  margin-bottom: 5px;
  padding: 80px;
  background: #ccccff;
  border-radius: 15px ;
}

.notification {
  color: #f10909;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  cursor: pointer;
}

input[type='submit'] {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 17px;
  padding-left: 7px;
  color: blue;
}

h2 {
  color: #000000;
}

label {
  color: #000000;
  font-size: 17px;
}

main {
  width: 400px;
  margin: 0 auto;
}

textarea {
  width: 100%;
}

.storelogo {
  width: 300px;
  height: 300px;
}
