<html>

<body style='background-color: #222233;'>
  <div style='text-align:center; margin-top: 20%;'>
    <h1 style='font-size: 300px; color: #ccc; margin: 0; padding: 0;'>
      {{ code }}
    </h1>
    <div style='padding: 0 20%; color: #e8e8e8; margin-top: 10px; font-family: sans-serif;'><strong>Error: </strong>
      {{ message }}
    </div>
  </div>
</body>

</html>
